{% set new = notificationList|length %}
<li class="dropdown notifications-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        {% if new > 0 %}
            <span class="label label-warning">{{ new }}</span>
        {% endif %}
    </a>
    <ul class="dropdown-menu">
        <li class="header">Vous avez {{ new }} nouvelles notifications</li>
        <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">
                {% for notification in notificationList %}
                <li>
                    <a href="{{ path('dywee_notification_view', {id: notification.id}) }}">
                        {#{% if notification.isReaded == false %}
                            <i class="fa fa-circle"></i>
                        {% else %}
                            <i class="fa fa-circle-thin"></i>
                        {% endif %}#}

                        {% include notification.bundle ~ ':Notification:' ~ notification.type ~ '.html.twig' %}
                        {# include 'DyweeNotificationBundle:Notification:success.html.twig' #}
                    </a>
                </li>
                {% endfor %}
                {#<li>
                    <a href="#">
                        <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                </li>#}
            </ul>
        </li>
        {#<li class="footer"><a href="#">View all</a></li>#}
    </ul>
</li>